/* General settings */
* {
    margin: 0;
    padding: 0;
}
 body {
    background-image: url(./images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 /* Welcome Text */
#LP {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    font-size: 30px;
    color: deeppink;
    text-shadow: 2px 2px 5px black;
    height: 100vh;
}

/* Button Design */
button {
    position: absolute;
    bottom: 25%; 
    right: 50%; 
    z-index: 10;
    font-size: 18px;
    color: lightpink;
    background-color: rgb(212, 126, 169);
    border: rgb(240, 87, 110) 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    text-shadow: 2px 2px 5px black;
}
button:hover {
    background-color: deeppink;
    color: #fff;
    transition: .3s ease-in-out;
}

/* Employee Cards */
.card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    width: 95vw;
    height: 80vh;
    padding: 20px 20px;
}

img {
    height: 425px;
    width: 400px;
    justify-content:start;
}
img:hover {
    opacity: 75%;
    transition: .25s ease-in-out;
    border-radius: 20px;
}

/* Scrolling animation */
@media (prefers-reduced-motion: no-preference){
    #section-a, #section-b, #section-c {
        scale: .7; opacity: 0;
        animation: cardScrolling linear forwards;
        animation-timeline: view();
        animation-range-start: 100px;
        animation-range-end: 500px;
    }
    @keyframes  cardScrolling {
        to { scale: 1; opacity: 1;}
    }
}

/* Mobile */
@media only screen and (max-width: 900px) {
    body {
        background-image: url("/images/MobileBkgnd.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        align-items: left;
        height: 100vh;
    }

    .card {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        width: 95vw;
        height: 80vh;
        padding: 20px 20px;
    }

    img {
        height: 200px;
        width: 175px;
    }
    button {
        position: absolute;
        right: 50%;
        bottom: 15%;
    }

    @media (prefers-reduced-motion: no-preference){
        #section-a, #section-b {
            scale: .5; opacity: 0;
            animation: cardScrolling linear forwards;
            animation-timeline: view();
            animation-range-start: 200px;
            animation-range-end: 500px;
        }
        #section-c {
            scale: .5; opacity: 0;
            animation: cardScrolling linear forwards;
            animation-timeline: view();
            animation-range: entry;
        }
    }

  }